* {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

/* slider */
#slider {
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;
}

#slider > .imgList,
#slider > .imgList > figure {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
}

#slider .navList {
    position: absolute;
    bottom: 20px;
    left: 0;
    z-index: 999;
    width: 100%;
    text-align: center;
}

#slider .navList li {
    color: black;
    width: 20px;
    height: 20px;
    line-height: 20px;
    background-color: #fff;
    display: inline-block;
    margin: 6px;
    border-radius: 50%;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    font-weight: 700;
    box-shadow: 1px 1px 0 rgb(255, 251, 0);
}

#slider .navList li:last-child {
    margin-bottom: 0;
}

#slider .navList li:hover,
#slider .navList li.active {
    background-color: red;
    color: yellow;
}